*,
::before,
::after {
    border: 0 solid #E5E7EB; /* make it more overwritable for the search input */
    box-sizing: border-box;
    font-family: "bmg-font-std", Tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body,
ul {
    margin: 0;
    padding: 0;
}

body {
    scrollbar-width: none;
}

ul {
    list-style-type: none;
}

@font-face {
    font-family: 'bmg-font-special';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/bungee/bmg-bungee.woff') format("woff");
}

@font-face {
    font-family: 'bmg-font-special';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/bungee/bmg-bungee.woff') format("woff");
}

@font-face {
    font-family: 'bmg-font-std';
    src: url(../Fonts/signika/Signika-VariableFont.ttf);
}

.bungee {
    font-family: 'bmg-font-special', Arial;
}

.signika {
    font-family: 'bmg-font-std', Arial;
}

/*
 * Everything above is just for making it look correct in this static version
 * When added to livesystem, the above is not needed, as its already included
 */
header.bmg-header-container {
    left: 0;
    margin-bottom: 3em;
    position: fixed; /* changed from sticky to fixed, because sticky didnt work*/
    right: 0;
    top: 0;
    z-index: 599;
}

header + div {
    margin-top: 100px !important;
}

.bmg-header_spacer { /* to space the header because its not sticky */
    height: 100px;
    margin-bottom: 3rem;
}

.bmg-header {
    background-color: black;
    color: white;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 50px 1fr;
    height: 100px;
    padding: 32px;
    place-content: center;
    width: 100%;
}

.left-menu {
    align-items: center;
    display: flex;
    gap: 32px;
}

.hamburger-menu {
    align-items: center;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
}

.hidden-mobile {
    display: flex;
}

.hidden-desktop {
    display: none;
}

.menu-toggle,
.menu-item-toggle,
.language-switch-toggle {
    display: none;
}

.menu-bg {
    background-color: #000000;
    inset: 0;
    opacity: 0;
    position: fixed;
    top: 100px;
    transition: visibility 0.6s, opacity 0.6s ease-out;
    visibility: hidden;
}

.menu-toggle:checked ~ .menu-bg {
    opacity: 30%;
    visibility: visible;
}

.menu-toggle:checked ~ .menu-box {
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.4);
    transform: translateX(0);
}

.menu-item-toggle:checked ~ .submenu {
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.4);
    transform: translateX(768px);
}

/* class .active can be changed if needed, e.g. if its needs to be .selected */
.header-link a.active,
.menu-item-toggle:checked ~ .menu-item {
    background-color: #1E1E1E;
}

.header-link a:hover,
.primary-menu-item > .menu-item:hover {
    background-color: #303030;
}

.primary-menu-item > .menu-item.active {
    background-color: #1E1E1E;
}

.menu-btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 18px;
    justify-content: center;
    margin-bottom: 0; /* overwrite shop style */
    position: relative;
    width: 32px;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    background-color: white;
    border-radius: 7px;
    display: block;
    height: 2px;
    position: absolute;
    transition-duration: 0.6s, 0.8s;
    transition-property: width, transform;
    transition-timing-function: ease-out;
}

.menu-btn > span,
.menu-btn > span::after {
    width: 12px;
}

.menu-btn > span::before {
    content: "";
    top: -6px;
    width: 18px;
}

.menu-btn > span::after {
    content: "";
    top: 6px;
}

.menu-toggle:checked + .menu-btn > span {
    transform: rotate(45deg);
    width: 18px;
}

.menu-toggle:checked + .menu-btn > span::before {
    top: 0;
    width: 0;
}

.menu-toggle:checked + .menu-btn > span::after {
    top: 0;
    transform: rotate(-90deg);
    width: 18px;
}

.header-links-mobile {
    display: none;
}

.header-link-mobile svg {
    stroke: white;
}

.header-links {
    align-items: center;
    display: flex;
    gap: 4px;
}

.header-link {
    list-style: none;
}

.header-link a {
    border-radius: 9px;
    color: white;
    display: flex;
    font-family: "bmg-font-special", Tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    padding: 8px 12px;
    text-decoration: none;
    transition-duration: 400ms;
    transition-property: background-color;
    transition-timing-function: ease-out;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.logo img {
    height: 71px;
}

.right-menu {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.right-menu .language .language-states {
    bottom: unset;
    left: unset;
    right: 0;
    top: calc(100% + 8px);
}

.meta-navigation,
.header-link-mobile {
    align-items: center;
    display: flex;
    gap: 32px;
}

.sponsors {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.sponsors li a {
    align-items: center;
    display: flex;
    justify-content: center;
}

.meta-navigation li {
    list-style: none;
}

.meta-navigation li a {
    position: relative;
}

.meta-navigation li a,
.header-link-mobile a {
    align-items: center;
    display: flex;
    text-decoration: none;
}

.header-link-mobile a svg,
.meta-navigation li a svg {
    height: 20px;
    stroke: white;
    transition-duration: 0.6s, 0.8s;
    transition-property: stroke;
    transition-timing-function: ease-out;
    width: 20px;
}

.meta-navigation li a .counter {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    font-family: "bmg-font-special", Tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    justify-content: center;
    padding: 2px 4px;
    position: absolute;
    right: -12px;
    top: -12px;
}

svg:not(:root) {
    overflow: hidden;
}

.menu-box {
    display: flex;
    height: calc(100% - 100px);
    left: 0;
    list-style: none;
    margin: 100px 0 0 0;
    position: fixed;
    top: 0;
    transform: translateX(-768px);
    transition-duration: 0.6s, 0.8s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.primary-menu {
    background-color: #0D0D0D;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    width: 100vw;
}

.primary-menu-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    overflow: auto; /* make primary menu scrollable with too many categories */
    padding: 32px 16px;
}

.menu-box-footer {
    align-items: center;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.language {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 4px;
    position: relative;
}

.language.language-left .language-states {
    left: 0;
}

.language.language-right .language-states {
    left: unset;
    right: 0;
}

.language-switch-toggle:checked ~ .language-states {
    display: block;
}

.language-switch-toggle ~ label svg {
    transition-duration: 400ms;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.language-switch-toggle:checked ~ label svg {
    transform: rotate(180deg);
}

.language > label {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-family: "bmg-font-special", Tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    gap: 13px;
    transition-duration: 0.6s, 0.8s;
    transition-property: background-color;
    transition-timing-function: ease-out;
}

.language-states {
    background-color: #1E1E1E;
    border-radius: 8px;
    bottom: calc(100% + 8px);
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.4);
    display: none;
    left: 0;
    overflow: hidden;
    padding: 12px 16px;
    position: absolute;
    width: 160px;
    z-index: 10;
}

.language-states ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li > a.language-item-button {
    color: #FFFFFF;
    display: inline-flex;
    font-size: 14px;
    justify-content: space-between;
    text-decoration: none; /* changed from 'button' to 'a' to work with old implementation */
    width: 100%;
}

.search-block {
    display: grid;
    margin: 0 8px;
}

.search-block .search-icon {
    align-self: center;
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 16px;
}

.search-block input {
    align-items: center;
    background-color: transparent;
    border: 1px solid #666666 !important; /* make important for overwriting the shop styles */
    border-radius: 9px;
    color: white;
    display: flex;
    font-size: 17px;
    grid-area: 1 / 1 / 2 / 2;
    outline: none;
    padding: 13px 16px 13px 50px;
    position: relative; /* when static, the search icon is over the input so you cant click in the input */
    width: 100%;
}

.menu-item {
    align-items: center;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-between;
    margin-bottom: 0; /* remove shop style */
    padding: 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    transition-property: background-color;
    transition-timing-function: ease-out;
    width: 100%;
}

.menu-item > .title {
    font-family: 'bmg-font-special', Arial, serif;
}

.submenu {
    background-color: #0d0d0d;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    inset: 0;
    left: 0;
    max-width: 100vw;
    padding: 32px;
    position: fixed;
    top: 0;
    transition-duration: 0.7s;
    transition-property: transform;
    transition-timing-function: ease-out;
    width: 768px;
    z-index: -1;
}

.submenu .menu-item {
    border-bottom: 2px solid transparent;
    border-radius: 0;
    display: inline-flex;
    transition-duration: 0.6s, 0.8s;
    transition-property: border-bottom-color;
    transition-timing-function: ease-out;
}

.submenu .menu-item.active:after {
    background-color: #FFFFFF;
    width: 100%;
}

.submenu .menu-item:after {
    content: "";
    display: block;
    height: 2px;
    transition-duration: 700ms;
    transition-property: all;
    transition-timing-function: ease-out;
    width: 0;
}

.submenu .menu-item:hover:after {
    background-color: #7E7E7E;
    content: "";
    display: block;
    width: 100%;
}

.menu-toggle:checked ~ .menu-box .submenu.active {
    box-shadow: -10px 0 14px 0 rgba(0, 0, 0, 0.25);
    transform: translateX(768px);
}

.submenu-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.back-link {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    gap: 8px;
    padding: 2px 4px;
    width: max-content;
}

.submenu-header .menu-title {
    font-family: "bmg-font-special", Tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
}

a.menu-title { /* for making the submenu title a link*/
    color: white;
    text-decoration: none;
}

.submenu-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto; /* make submenu scrollable with too many categories */
    padding-left: 32px;
}

.submenu-list .menu-item {
    color: white; /* overwrite hover link color*/
    display: inline-grid;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    text-decoration: none; /* overwrite hover link style*/
    width: auto;
}

.menu-box-footer {
    align-items: center;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 26px 32px;
}

.menu-box-footer .sponsors {
    display: none;
}

.home-button {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    gap: 8px;
    text-decoration: none;

}

.mobile-header-links {
    border-bottom: 1px solid #FFFFFF;
    display: none;
    gap: 32px;
    overflow-x: scroll;
    padding-bottom: 16px;
}

.mobile-header-links .header-link a {
    padding: 0;
}

.mobile-header-links .header-link a:hover {
    background-color: unset;
}

.mobile-header-links::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.primary-menu-list { /* remove margin from main links in header */
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 0;
}

.homepage-addition {
    background-color: #000000;
    display: none;
}

.homepage-addition ul {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    padding: 0 16px 14px;
}

.homepage-addition ul li a {
    align-items: center;
    background-color: #181818;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    gap: 12px;
    justify-content: center;
    padding: 12px 16px;
    text-decoration: none;
}

.homepage-addition ul li a:hover {
    background-color: #303030;
}

.homepage-addition ul li a svg {
    height: 22px;
    width: 22px;
}

.homepage-addition ul li a span {
    font-family: "bmg-font-special", Tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

@media (max-width: 640px) {
    header.bmg-header {
        margin-bottom: 0;
    }

    .logo img {
        height: 63px;
    }

    .right-menu .sponsors {
        display: none;
    }

    .menu-box-footer .sponsors {
        display: flex;
    }
}

@media (max-width: 768px) {
    .homepage-addition {
        display: block;
    }

    header:has(.homepage-addition) + div {
        margin-top: 152px;
    }
}

@media (min-width: 768px) {
    .menu-box,
    .submenu {
        transform: translateX(-400px);
    }
    .primary-menu {
        max-width: 400px;
    }

    .submenu {
        width: 400px;
    }

    .menu-item-toggle:checked ~ .submenu {
        transform: translateX(400px);
    }
}

@media (max-width: 1024px) {
    .menu-bg {
        top: 92px;
    }

    .menu-box {
        height: calc(100% - 92px);
        margin-top: 92px;
    }

    .bmg-header {
        height: 92px;
        padding: 14px 16px;
    }

    header + div {
        margin-top: 92px !important;
    }

    .search-block {
        display: none;
    }

    .left-menu {
        gap: 28px;
    }

    .header-links-mobile {
        display: block;
    }

    .meta-navigation .user {
        display: none;
    }

    .submenu {
        transform: translateX(-768px);
        z-index: 1; /* make the submenu above the language selector on mobile */
    }

    .menu-toggle:checked ~ .menu-box .submenu.active {
        transform: translateX(0);
    }

    .menu-item-toggle:checked ~ .submenu {
        transform: translateX(0px);
    }

    .meta-navigation {
        gap: 28px;
    }

    .meta-navigation ul {
        gap: 3px;
    }

    .header-link-mobile a svg,
    .meta-navigation li a svg {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 1536px) {
    .mobile-header-links {
        display: flex;
    }

    .primary-menu-body {
        padding: 16px;
    }

    .header-links {
        display: none;
    }

    .hidden-mobile {
        display: none;
    }

    .hidden-desktop {
        display: flex;
    }
}